*{
    margin: auto;
}

body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(214, 236, 255);
}

table{
    background-color: rgb(103, 103, 103);
}

td{
    background-color: white;
}

.explaining td{
    background-color: rgb(209, 208, 208);
}

.first3 td{
    background-color: rgb(205, 255, 196);
}

.last3 td{
    background-color: rgb(255, 196, 196);
}

.MelhoresJogadoresTable{
    margin-top: 20px;
    margin-bottom: 20px;
}

.MelhoresJogadoresTable td{
    font-size: 20px;
}

#container{
    display: flex;
    width: 70%;
    margin: 20px auto;
}

#container table{
    margin: 0px 7.5px;
    min-height: 900px;
}

#proximaTemporada{
    background-color: rgb(255, 142, 142);
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#temporadasSimuladas{
    padding: 2px 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.SuperSimulation{
    margin-top: 20px;
}

.SuperSimulation h1{
    font-size: 40px;
}

#firstTitle{
    font-size: 50px;
}

.transferencias{
    margin-top: 20px;
}

.transferencias h1{
    font-size: 40px;
}

.transferencias  h2{
    font-size: 15px;
    margin-bottom: 0px;
}

.transferencias h3{
    font-size: 17.5px;
    margin-bottom: 15px;
}

#startingDiv{
    text-align: center;
    background-color: rgb(175, 216, 251);
    border-radius: 10px;
    width: fit-content;
    padding: 50px 50px;
    margin-top: 15%;
}

#startSimulationButton{
    font-size: 30px;
    cursor: pointer;
    padding: 8px 8px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: burlywood;
    color: black;
}

#nextTempDiv{
    margin-bottom: 25px;
    text-align: center;
}